:root {
  --main-text-color: #757575;
  --title-color: #212121;
  --title-alt-color: #ffffff;
  --alt-text-color: #ffffff99;
  --accent-color: #2196f3;

  --dark-bg: #2f303a;
  --second-bg: #f5f4fa;

  --main-font: "Roboto", sans-serif;
  --logo-font: "Raleway", sans-serif;
}

body {
  font-family: var(--main-font);
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--main-text-color);
}
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul {
  margin-bottom: 0;
  margin-top: 0;
}

.container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}

.footer-container {
  padding-bottom: 60px;
  padding-top: 60px;
}
/*.footer-container {
  border-top: 1px solid transparent;
  padding-bottom: 60px;
 } */

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.list {
  padding: 0px;
  margin: 0px;
  list-style: none;
}

.main-nav {
  display: flex;
  align-items: center;
}

.header-border {
  border-bottom: 1px solid #ececec;
}

.logo {
  font-family: var(--logo-font);
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--title-color);
}

.logo-footer {
  display: flex;
  align-items: center;

  /* padding-bottom: 20px; */

  font-family: var(--logo-font);
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--title-color);
}

.logo-clr-footer {
  color: var(--accent-color);
  display: block;
  /* margin-top: 60px;
  padding-bottom: 20px; */
}

.logo-clr {
  color: var(--accent-color);
  display: block;
  padding-top: 24px;
  padding-bottom: 25px;
}

.logo-alt-clr {
  display: block;
  padding-top: 24px;
  padding-bottom: 25px;
}

.link {
  color: inherit;
  text-decoration: none;
}

.link:hover,
.link:focus {
  color: var(--accent-color);
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.contact-links {
  margin-left: auto;
  display: flex;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  color: var(--main-text-color);
  letter-spacing: 0.02em;
}

.contact-links .item + .item {
  margin-left: 50px;
}

.contact-links .link {
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;
}

.section {
  padding-top: 94px;
  padding-bottom: 94px;
}

.section-our-work {
  padding-top: 0;
}

.site-nav {
  display: flex;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--title-color);
}

.nav-list {
  display: flex;
  margin-left: 93px;
}

.nav-list .item:not(:last-child) {
  margin-right: 50px;
}

.nav-list .link {
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;
}

.hero {
  text-align: center;
  padding-top: 200px;
  padding-bottom: 200px;
}

.hero-title {
  width: 696px;
  margin-top: 0;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 0;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}

.btn {
  display: inline-block;
  margin-top: 30px;
  min-width: 200px;
  border-radius: 4px;
  padding: 10px 32px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  align-items: center;
  letter-spacing: 0.06em;
  color: var(--title-alt-color);
  background-color: var(--accent-color);
}

.btn-filter {
  border: none;
  min-width: 73px;
  display: inline-block;
  text-align: center;
  border-radius: 4px;
  padding: 6px 22px;
  font-style: 400;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.03em;
  background-color: var(--second-bg);
}

.btn-filter:hover,
.btn-filter:focus {
  background-color: var(--accent-color);
  color: var(--title-alt-color);
}

.btn-list {
  display: flex;
  margin-bottom: 50px;
  justify-content: center;
}

.btn-list .item {
  margin-right: 8px;
}

.btn-list .item:last-child {
  margin-right: 0;
}

.section-title {
  margin-top: 0;
  margin-bottom: 0;
  padding-top: 0;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  color: var(--title-color);
}

.feature-list {
  display: flex;
  /* flex-wrap: wrap; */
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
}
.feature-list .item:not(:last-child) {
  margin-right: 30px;
}

.feature-list .title {
  margin-top: 0;
  margin-bottom: 0;
  font-weight: bold;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
  color: var(--title-color);
}

.feature-list .text {
  margin-top: 10px;
  margin-bottom: 0;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  text-transform: none;
}

.feature-list .item {
  width: 270px;
}

.img-list {
  display: flex;
  margin-top: 50px;
  margin-bottom: 0;
}

.team-title {
  margin-bottom: 0;
  margin-top: 0;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  color: var(--title-color);
}

.team-img {
  margin-top: 50px;
  margin-bottom: 0;
  text-align: center;
}

.team-img-descr {
  padding-top: 30px;
  padding-bottom: 30px;
}

.team-descr {
  margin-top: 10px;
  margin-bottom: 0;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.19;
  color: var(--main-text-color);
}

.container-team {
  display: flex;
  flex-wrap: wrap;
}

.container-team .item:nth-child(4n) {
  margin-right: 0;
}

.container-team .item {
  width: calc((100% - 90px) / 4);
  margin-right: 30px;
}

.flex-container {
  display: flex;
  flex-wrap: wrap;
}

.flex-element {
  width: calc((100% - 60px) / 3);
  margin-right: 30px;
  margin-bottom: 30px;
  border: 1px solid #eeeeee;
}

.flex-element:nth-child(3n) {
  margin-right: 0;
}

.img-list .item {
  width: calc((100% - 60px) / 3);
  margin-right: 30px;
}

.img-list .item:nth-child(3n) {
  margin-right: 0;
}

.flex-element:nth-last-child(-n + 3) {
  margin-bottom: 0;
}

.glry-descr {
  padding-top: 20px;
  padding-bottom: 30px;
  padding-left: 24px;
  padding-right: 24px;
}

.title-glry {
  font-weight: bold;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--title-color);
  margin-top: 0px;
  margin-bottom: 0;
}
.text-glry {
  font-size: 16px;
  margin-top: 4px;
  line-height: 1.88;
}

.address {
  margin-top: 20px;
  font-style: inherit;
  font-weight: normal;
  font-size: 14px;
  line-height: 1.71;
}

.address .list li:first-child {
  color: var(--title-alt-color);
  margin-top: 0;
}

.address .list li {
  margin-top: 9px;
}
